* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.con_wrap {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
}

.con {
  width: 30%;
}

.bg {
  height: 230px;
}
